.margin{
  margin-top: 20px;
}

.logotipo{
  background: url("../../../assets/logo.png")no-repeat center center;
  background-size: cover;
 width: 160px;
  height: 75px;
  margin: 10px;
}

.ico{
  margin-right: 20px;
}

.iconav{
  margin-right: 5px;
}

.amod{
  color: black;
}

.avatar {
  width: 100%;
  margin: auto;
  width: 150px;
  border-radius: 150px;
  height: 150px;
  background: white ;
  position: relative;

}
.avatar img {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  margin: auto;
  border:1px solid #fff;
  display: block;
}