.view {
    background: url("../../../assets/Hospital.jpg")no-repeat center center;
    background-size: cover;
    height: 100vh;
}
.logotipo{
    background: url("../../../assets/logo.png")no-repeat center center;
    background-size: cover;
   width: 160px;
    height: 75px;
    margin: 10px;
}